---
layout: default
---

<header class="header">
  {% include navbar.html %}
  <div class="banner" {% if page.cover %}style="background-image: url({{ page.cover }})"{% endif %}>
    <div class="banner-inner">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>
  </div>
</header>

<section class="articles">
  {% if site.categories[page.slug] %}
    {% for post in site.categories[page.slug] %}
      {% include article.html %}
    {% endfor %}
  {% else %}
    <article role="article" class="post">
      <p>Não há artigos para a categoria: <strong>{{ page.title }}</strong></p>
    </article>
  {% endif %}
</section>