---
layout: default
---

<header class="header">
  {% include navbar.html %}
  <div class="banner">
    <div class="banner-inner">
      <h2>Artigos marcados com a tag: {{ page.title }}</h2>
    </div>
  </div>
</header>

<section class="articles">
  {% if site.tags[page.slug] %}
    {% for post in site.tags[page.slug] %}
      {% include article.html %}
    {% endfor %}
  {% else %}
    <article role="article" class="post">
      <p>Não há artigos para a tag: <strong>{{ page.title }}</strong></p>
    </article>
  {% endif %}
</section>